<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Subscribe To My Blog - M.Labouardy</title>
    <style type="text/css">
      body{
        margin: 0 auto;
        padding: 0;
        min-width: 100%;
        font-family: sans-serif;
      }
      table{
        margin: 50px 0 50px 0;
      }
      .header{
        height: 40px;
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
      }
      .content{
        height: 100px;
        font-size: 18px;
        line-height: 30px;
      }
      .subscribe{
        height: 70px;
        text-align: center;
      }
      .button{
        text-align: center;
        font-size: 18px;
        font-family: sans-serif;
        font-weight: bold;
        padding: 0 30px 0 30px;
      }
      .button a{
        color: #FFFFFF;
        text-decoration: none;
      }
      .buttonwrapper{
        margin: 0 auto;
      }
      .footer{
        text-transform: uppercase;
        text-align: center;
        height: 40px;
        font-size: 14px;
        font-style: italic;
      }
      .footer a{
        color: #000000;
        text-decoration: none;
        font-style: normal;
      }
    </style>
  </head>
  <body bgcolor="#009587">
    <table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="0">
      <!-- <tr class="header">
        <td style="padding: 40px;">
          It's worth it !
        </td>
      </tr> -->
      <tr class="content">
        <td style="padding:10px;">
          <p>
            Selamat <b>{{ account_name }}</b>, <br/>
            Tenant kamu sudah terdaftar di eyureka tapi akunmu <b>belum aktif</b>. <br/>
          </p>
        </td>
      </tr>
      <tr class="subscribe">
        <td style="padding: 20px 0 0 0;">
          <table bgcolor="#009587" border="0" cellspacing="0" cellpadding="0" class="buttonwrapper">
            <tr>
              <td class="button" height="45">
                <a href="{{ url }}" target="_blank">AKTIVASI SEKARANG</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="content">
        <td style="padding:10px;">
          <p>
            Terima kasih <br/><br/>

            Eyureka team
          </p>
        </td>
      </tr>
      <tr class="footer">
        <td style="padding: 40px;">
          Designed by <a href="http://eyureka.com" target="_blank">eyureka.com</a>
        </td>
      </tr>
    </table>
  </body>
</html>